.shadow-image>img{
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.shadow-cat>img{
    margin-top: 10px;
    box-shadow: 10px 0 10px 10px #450947,
            0 15px 10px 0 #9333b1,
            0 0 10px 0 #d146f5,
            0 10px 20px 30px #ccb4df;
}

.shadow-cat>img:hover{
    box-shadow: 5px 0 10px 10px #d146f5,
            0 15px 10px 0 #ccb4df,
            0 0 10px 0 #450947,
            0 10px 20px 30px #9333b1;
            transition-duration: 2s;
}

.third{
    box-shadow: inset 5px 5px 20px 15px #8a849e, 0 0 0 0;
    margin-top: 50px;
    background-color: rgb(90, 67, 177);
    box-shadow: black;
}

.third>p{
    padding: 10%;
}

.hearts::after {
    content: '\2665'; /*Масть червей*/
}
 
.spades::after {
    content: '\2660'; /*Масть пик*/
}
 
.alpha::after{
    content: '\03B1';
}
 
.beta::after{
    content: '\03B2';
}
 
.gamma::after{
    content: '\03DD';
}
 
.delta::after{
    content: '\03B4';
}
 
.epsilon::after{
    content: '\03B5';
}
 
.dollar::after {
    content: '\0024'; /*Знак доллара*/
}
 
.copyright_sign::after{
    content: '\00A9'; /*Знак копирайта*/
}
 
.registered_sign::after{
    content: '\00AE';
}
 
.fraction1::after{
    content: '\00BC'; /*1/4*/
}
 
.fraction2::after {
    content: '\00BD'; /*1/2*/
}
 
.fraction3::after{
    content: '\00BE'; /*3/4*/
}
 
.symbol1::after{
    content: '¶'; /*Знак абзаца*/
}
 
.symbol2::after{
    content: '§'; /*Параграф*/
}
 
.symbol3::after{
    content: '\2012'; /*Тире*/
}
 
.symbol4::after{
    content: '\2014'; /*Длинное тире*/
}
 
.my-symbol1::after {
    content: '\2211'; /*Знак суммы*/
}
 
.my-symbol2::after {
    content: '\26F4'; /*Знак кораблика*/
}
 
.my-symbol3::after {
    content: '\2713'; /*Галочка*/
}
 
.my-symbol4::after {
    content: '\2718'; /*Крестик*/
}
 
.my-symbol5::after {
    content: '\2730'; /*Звёздочка*/
}

.z5 td {
	width: 40px;
	height: 40px;
}

.z5 table {
	text-align: center;
	border-collapse: collapse;
}

.z5 tbody tr:not(:first-child) td:first-child,
.z5 tbody tr:not(:first-child) td:last-child {
	border-right: 1px solid #000000;
}

.z5 tbody tr:last-child td:not(:first-child),
.z5 tbody tr:first-child td:not(:first-child) {
	border-bottom: 1px solid #000000;
}

.z5 tbody tr:nth-child(2n + 3) td:nth-child(2n + 3),
.z5 tbody tr:nth-child(2n + 2) td:nth-child(2n + 2) {
	background: #000000;
}
.diag {
	background: #c9e3ce;
	width: 120px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	border-radius: 49%;
	border: 35px solid #83d193;
	border-right: 35px solid #b8eec3;
}

.z7 label {
    display: block;
}
 
.z7 .unchecked::after {
    content: '*';
    color: red
}
 
.z7 .check::after {
    content: '\2714';
    color: green;
}

.square {
	background-color: #e6a0e1;
	color: #902988;
	font-size: 2vw;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	height: 40vw;
	width: 40vw;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.z9 form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 
.z9 input:checked + label{
    background-color: yellow;
}
 
.z9 .left {
    margin: 0 10px 0 auto;
    font-size: 20px;
}
 
.z9 .right {
    margin-left: 10px;
    align-items: flex-start;
}
 
.z9 .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

