*{
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

a{
    font-size: 40px;
}
.hide{
    display: none;
}

.text-block{
    position: absolute;
    margin-left: 30%;
    z-index: 2;
    width: 500px;
    height: 500px;
    clip-path: polygon(0 46%, 0% 100%, 100% 100%);
    background-color: blueviolet;
    opacity: 40%;
}

.images-block{
    margin-left: 30vw;
    width: 500px;
    height: 500px;
    position:absolute;
    z-index: 1;
}
.images{
    position:absolute;
}

#left{
    position:absolute;
    margin-top: 20vh;
    font-size: 50px;
    
    color:rgb(151, 153, 167);
    z-index: 3;
    background-color: transparent;
    cursor: pointer;
}

#right{
    position:absolute;
    font-size: 50px;
    color:rgb(151, 153, 167);
    z-index: 3;
    margin-left: 470px;
    margin-top: 20vh;
    background-color: transparent;
    cursor: pointer;
}

.text{
    max-width: 290px;
    background-color: transparent;
    color:white;
    z-index: 4;
    font-size: 15px;
    position: absolute;
    margin-left: 31vw;
    margin-top: 40vh;
}

.show{
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 100%;
    }
  }

