body{
    text-align: center;
}

.captcha-block{
    margin-left: 35%;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    display:block;
    background-color: rgb(119, 119, 192);
    position: relative;
}

.title{
    font-size: 50px;
    color: cornsilk;
    margin-bottom: 20px;
}

#task-input{
    
    border: none;
    outline: none;
    width: 350px;
    height: 42px;
    padding-left: 10px;
    outline: none;
    background: none;
    color: #9E9C9C;
}

#captcha-text{
    position: absolute;
    font-size: 60px;
    letter-spacing: 25px;
    color:cornsilk;
    top:100px;
    left:50px;
}

.input-form{
    border-radius: 5px;
    margin-top: 30px;
    background-color: rgb(224, 209, 212);
}

#submit-button{
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

#refresh{
    cursor: pointer;
}

#status{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.true{
    color: green;
}

.false{
    color:rgb(168, 1, 1);
}