*{
    margin: 0;
    padding: 0;
}

#search{
    margin: 100px; 
    min-width: 50px;
    min-height: 50px;
    max-width: min-content;
    display: flex;
    
}

#search::before{	
    content: '\1F50D';
    font-size: 35px;
}

#search:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

#search>input{
    border: none;
    outline: none;
}

.closed-input{
    border: 2px solid royalblue;
    border-radius: 49%;
    animation-name: close;
    animation-duration: 1s;
}
.open-input{
    border: 2px solid royalblue;
}

.open-input::after{
    margin-top: 13px;
    content: "\274c";
}

@keyframes close {
    from{
        min-width: 243px;
        border-radius: 0%;
    }
    to{
        min-width: 50px;
        border-radius: 49%;
    }
}