*{
    background-color:blanchedalmond
}

.buttons>a{
    font-size: 20px;
    margin-left: 40vw;
    width: 200px;
}



.buttons{
    margin-top: 30vh;
    display:flex;
    text-align: center;
    flex-direction: column;
}

.gradient-button{
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, #c19eef 0%, #f030e0 51%, #ef9ea2 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: 1s;
    margin-bottom: 20px;
}

.gradient-button:hover {
    background-position: right;
}

.border-button {
    text-decoration: none;
    padding: 20px 30px;
    position: relative;
    color: white;
    background-image: linear-gradient(to right, #000000 0%, #727272 51%, #e2e2e2 100%);
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    transition: 1s;
    margin-bottom: 20px;
  }
  .border-button:before, .border-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
  .border-button:before {
    bottom: 0;
    left: 0;
    border-left: 2px solid rgb(83, 247, 238);
    border-top: 2px solid rgb(83, 247, 238);
  }
  .border-button:after {
    top: 0;
    right: 0;
    border-right: 2px solid rgb(83, 247, 238);
    border-bottom: 2px solid rgb(83, 247, 238);
  }
  .border-button:hover:before, 
  .border-button:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .border-button:hover:before {
    transition:  .2s ease height, .2s ease width .2s;
  }
  .border-button:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
  }
  .border-button:hover{
      background-image: none;
      background-color: rgb(52, 64, 65);
  }
  

  

.flipper{
  
  font-size: 20px;
  margin-left: 40vw;
  max-width: 200px;
  transform-style: preserve-3d;
  transition: transform 600ms ease-in-out;
}

.flipper:hover{
  transform: rotateX(-90deg);
}

.side{ 
  
  position:absolute;
  display: block;
  
  padding: 20px 30px;
  width: 200px;
}

.back{
  border-bottom: solid;
  transform: rotateX(90deg);
}

.front{
  transform: translateZ(60px);
}

.flip-button{
  background-color:rgb(86, 86, 163);
}

.flip-back{
  background-color:rgb(44, 202, 70);
}

.fill-button{
  margin-top: 80px;
  font-size: 20px;
  max-width: 200px;
  text-decoration: none;
  padding: 20px 30px;
  position: relative;
  color: black;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  transition: 1s;
  background: rgb(146, 75, 75);
}

.fill-button:hover{
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}

.last-button{
  
  font-size: 20px;
  max-width: 200px;
  text-decoration: none;
  padding: 20px 30px;
  position: relative;
  color: black;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  transition: 1s;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, rgb(172, 28, 148) 50%, rgb(214, 109, 23) 50%);
}

.last-button:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}

.last-button:before {
  bottom: 0;
  left: 0;
  border-top: 2px solid rgb(83, 247, 238);
}
.last-button:hover:before{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.last-button:hover:before {
  transition:  1s ease height;
}
.last-button:hover{
  background-position: 0 100%;
}