body{
    background-image: linear-gradient(to right, #c19eef 0%, #f030e0 51%, #ef9ea2 100%);
}

.block{
    display: flex;
    flex-direction: row;
    margin-left: 20vw;
}
#card{
    margin-top: 200px;
    margin-left: 50px;
    border-radius: 5%;
    background-image:none;
    background-color: white;
    width: 300px;
    height: 450px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    
}
#card2{
    margin-top: 200px;
    margin-left: 50px;
    border-radius: 5%;
    background-image:none;
    background-color: white;
    width: 300px;
    height: 450px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    
}
#card3{
    margin-top: 200px;
    margin-left: 50px;
    border-radius: 5%;
    background-image:none;
    background-color: white;
    width: 300px;
    height: 450px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    
}

.circle{
    position: relative;
    display: inline-block;
    width: 120%;
    height: 50%;
    border-radius: 50%;
    background-color: tomato;
    transform: translateY(-40%) translateX(-10%);
}

.number{
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    color: white;
    position: relative;
    font-size: 45px;
    top: 50%;
    
}

#card:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

#card2:hover{
    transition: 0.5s;
    transform: scale(1.2);
}
#card3:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

.hovered{
    filter: blur(10px);
    transition: 0.5s;
}