* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding:0;
}

.content{
    background-color: rgb(198, 207, 221);
    padding: 20px;
    max-width: 900px;
    display:inline-block;
}

.week{
    display: grid;
    grid-template-columns: repeat(7, minmax(50px,1fr));
}

.week>div{
    display: grid;
    text-align: center;
    justify-content: center;
    padding: 20px;
    grid-template-rows: 20px 1fr 20px 20px;
    
}

.weather-now{
    font-size: 40px;
    display: flex;
    justify-content: left;
	align-items: center;
}

.city{
    width: 200px;
    margin-right: 0;
}
.today{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info>span{
    
    display: block;
}

.info{
    margin-top:120px ;
}

@media (max-width: 700px)   {
    .content{
        width: 100vw;
    }
    .week{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, minmax(50px,1fr));
    }
    .week>div{
        display: grid;
        text-align: center;
        justify-content: center;
        padding: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    .weather{
        grid-column: 1/1;
        grid-row: 1/1;
    }

    .day{
        grid-column: 2/2;
        grid-row: 1/1;
        padding: 20px;
    }
    .temperature{
        grid-column: 3/3;
        grid-row: 1/1;
    }

    .temperatureFeel{
        grid-column: 4/4;
        grid-row: 1/1;
    }
}